# ------------------
# Python / FastAPI
# ------------------
.venv/
__pycache__/
*.pyc
*.pyo
*.pyd

# Environment variables
.env

# ------------------
# Node / React
# ------------------
node_modules/
dist/
build/

# ------------------
# OS / Editor
# ------------------
.DS_Store
Thumbs.db
.vscode/